/* Footer */

footer {
  background-color: #2C2B2B;
  text-align: center;
  padding: 60px;
}

footer .container {
  align-items: center;
}

footer .container .icon-container a i {
  color: #1CDD87;
  font-size: 30px;
}

footer .container p {
  font-weight: 400;
  font-size: 16px;
  color: #6b6c6c;
}
